/* 모달 Style */
.common-modal .modal-content {
    border-radius: 8px;
}
.common-modal .modal-footer {
    justify-content: center;
    border-top : initial;
}
.common-modal .modal-footer button {
    width: calc(50% - 8px);
}
.common-modal.modal-message .modal-header {
    border-bottom : initial;
}

.common-modal.modal-message .modal-dialog {
    max-width: 400px;
}

/* 검색 Style */
.search-wrap.input-group-lg {
    position: relative;
}
.search-wrap.input-group-lg input {
    border-color: #212529;
}

.search-wrap button.btn {
    min-width: 80px;
    border: initial;
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 6;
    color: transparent;
    text-indent: -9999px;
    background: url("/images/icons/search.png") no-repeat center center;
    background-size: 28px 28px;
}

/* 필터 Style */
.filter-wrap {
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 32px;
    margin-top: 40px;
    border: 1px solid #dee2e6;
    border-radius: 12px;
}
.filter-wrap .row {
    max-width: 436px;
    flex: 1;
}
.filter-wrap > button {
    min-width: 70px;
    margin-left: auto;
}
/* 테이블 Style */
.table-wrap {
    margin-top: 40px;
}
.table-wrap .form-check-input {
    width: 1.5em;
    height: 1.5em;
}
.table-wrap .count-wrap {
    display: flex;
    width: 124px;
    margin: 0 auto;
}
.table-wrap .count-wrap button {
    width: 30px;
    height: 30px;
    padding: initial;
    border-radius: initial;
}
.table-wrap .count-wrap input {
    flex: 1;
    width: 100%;
    text-align: center;
}
.table-wrap .top-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.table-wrap .top-area .total-txt {
    margin-bottom: 0;
}
.table-wrap .top-area .btns {
    display: flex;
    align-items: center;
    gap: 8px;
}
.table-wrap .top-area button {
    display: block;
    min-width: 80px;
}
.table-wrap table {
    width: 100%;
    text-align: center;
}
.table-wrap table thead tr {
    border: 2px solid #dee2e6;
    border-left: 0;
    border-right: 0;
}
.table-wrap table thead tr th {
    padding: 16px 12px;
    font-weight: bold;
    background-color: #fcfcfc;
    vertical-align: middle;
}
.table-wrap table thead tr th:not(:last-child) {
    border-right: 2px solid #dee2e6;
}

.table-wrap table tbody tr {
    cursor: pointer;
    border-bottom: 2px solid #dee2e6;
}
.table-wrap table tbody tr:hover td {
    background-color: #00000005;
}
.table-wrap table tbody tr td {
    padding: 16px 12px;
    vertical-align: middle;
    background-color: #fff;
    transition: .2s ease-out;
}
.table-wrap table tbody tr td:not(:last-child) {
    border-right: 2px solid #dee2e6;
}
.table-wrap table .image {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 12px;
    background: #ccc;
}
.table-wrap .pagination {
    justify-content: center;
    margin-top: 40px;
}

.table-wrap .count-cell {
    cursor: initial;
}