/* countainer Style */
html, body {
    min-width: 1200px;
}
.container {
    min-width: 1200px;
    max-width: 1400px !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.page-wrap {
    padding: 30px 0 60px;
}
.page-wrap .page-title {
    font-weight: bold;
    text-align: center;
}
.page-wrap .page-title.left {
    text-align: left;
}


/* 카테고리 리스트 */
.category-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 30px 0;
}
.category-list label {
    padding: 4px 14px;
    border-radius: 16px;
}

/* 모달 Style */
.common-modal .modal-dialog {
    margin-top: 30vh;
}
.common-modal .modal-content {
    border-radius: 8px;
}
.common-modal .modal-footer {
    justify-content: center;
    border-top : initial;
}
.common-modal .modal-footer button {
    width: calc(50% - 8px);
}
.common-modal.modal-message .modal-header {
    border-bottom : initial;
}

.common-modal.modal-message .modal-dialog {
    max-width: 400px;
}

#termsModal {
    padding: 10%;
}
#termsModal .modal-dialog {
    width: 100%;
    max-width: initial;
    margin: initial;
}
#termsModal .modal-dialog .modal-body {
    padding: 20px 26px;
}
#termsModal .modal-dialog .modal-body h2 {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}
#termsModal .modal-dialog .modal-body h3 {
    font-size: 16px;
    margin: 24px 0;
    font-weight: bold;
}
#termsModal .modal-dialog .modal-body h4 {
    font-size: 16px;
    font-weight: bold;
}

#termsModal .modal-dialog .modal-body h4::before {
    content: "-";
    margin-right: 12px;
}

#termsModal .modal-dialog .modal-body p::before {
    content: "\00B7";
    margin-right: 12px;
}

/* carousel */
.carousel-control-next {
    right: 10px !important;
}
.carousel-control-prev {
    left: 10px !important;
}

/* 검색 Style */
.search-wrap.input-group-lg {
    width: 800px;
    margin: 0 auto;
    position: relative;
}
.search-wrap.input-group-lg input {
    font-size: 16px;
    height: 48px;
    padding: 0px 20px;
    border-radius: 20px;
    border-color: #aaa;
}
.search-wrap.input-group-lg input::placeholder {
    color: #aaa;
}

.search-wrap button.btn {
    min-width: 80px;
    border: initial;
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 6;
    color: transparent;
    text-indent: -9999px;
    background: url("/images/icons/search.png") no-repeat center center;
    background-size: 28px 28px;
}

/* 필터 Style */
.filter-wrap {
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 32px;
    margin-top: 40px;
    border: 1px solid #dee2e6;
    border-radius: 12px;
}
.filter-wrap .row {
    max-width: 436px;
    flex: 1;
}
.filter-wrap > button {
    min-width: 86px;
    margin-left: auto;
}
/* 테이블 Style */
.table-wrap {
    margin-top: 40px;
}
.table-wrap .form-check-input {
    width: 1.5em;
    height: 1.5em;
}
.table-wrap .count-wrap {
    display: flex;
    width: 124px;
    margin: 0 auto;
}
.table-wrap .count-wrap button {
    width: 30px;
    height: 30px;
    padding: initial;
    border-radius: initial;
}
.table-wrap .count-wrap input {
    flex: 1;
    width: 100%;
    text-align: center;
}
.table-wrap .top-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.table-wrap .top-area .total-txt {
    margin-bottom: 0;
}
.table-wrap .top-area .btns {
    display: flex;
    align-items: center;
    gap: 8px;
}
.table-wrap .top-area .btn {
    display: block;
    min-width: 86px;
}
.table-wrap table {
    width: 100%;
    text-align: center;
}
.table-wrap table thead tr {
    border: 2px solid #dee2e6;
    border-left: 0;
    border-right: 0;
}
.table-wrap table thead tr th {
    padding: 16px 12px;
    font-weight: bold;
    background-color: #fcfcfc;
    vertical-align: middle;
}
.table-wrap table thead tr th:not(:last-child) {
    border-right: 2px solid #dee2e6;
}
.table-wrap table tbody tr {
    cursor: pointer;
    border-bottom: 2px solid #dee2e6;
}
.table-wrap table tbody tr:hover td {
    background-color: #00000005;
}
.table-wrap table tbody tr td {
    padding: 16px 12px;
    vertical-align: middle;
    background-color: #fff;
    transition: .2s ease-out;
}
.table-wrap table tbody tr td:not(:last-child) {
    border-right: 2px solid #dee2e6;
}
.table-wrap table .image {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ccc;
    overflow: hidden;
}
.table-wrap table .img {
    width: 100%;
}
.table-wrap .pagination {
    justify-content: center;
    margin-top: 40px;
}
.table-wrap .count-cell {
    cursor: initial;
}

/* 테이블 Style type2 */
.table-board-wrap .top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.table-board-wrap td:not(.label) {
    text-align: center;
}
.table-board-wrap td.label {
    padding: 0 20px;
}
.table-board-wrap td,
.table-board-wrap th {
    vertical-align: middle;
}

.table-board-wrap .top-area .btn {
    min-width: 86px;
}

.table-board-wrap table thead tr {
    border-top: 1px solid #dee2e6;
    text-align: center;
    font-weight: bold;
}
.table-board-wrap table tbody tr {
    position: relative;
}

.table-board-wrap table tbody a {
    text-indent: -9999px;;
    color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .2s ease-out;
}
.table-board-wrap table tbody a:hover {
    background-color: #00000005;
}

/* 페이지네이션 */
.page-wrap .pagination {
    justify-content: center;
    margin-top: 60px;
}


/* 정보 form Style */
.data-form {
    margin-top: 60px;
}
.data-form .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}
.data-form dl {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.data-form dl dt,
.data-form dl dd {
    display: flex;
    align-items: center;
    min-height: 70px;
}
.data-form dl dt {
    justify-content: center;
    width: 230px;
    padding: 20px 12px;
    border: 1px solid #dee2e6;
}
.data-form dl dd {
    width: calc(100% - 230px);
    padding: 0 20px;
    margin-bottom: 0;
    border: 1px solid #dee2e6;
    
}

/* 하단 버튼 */
.bottom-btns {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 50px;
}
.bottom-btns button {
    min-width: 180px;
}
.bottom-btns.center {
    justify-content: center;
}

.bottom-btns .left {
    margin-right: auto;
}


/* 로그인 스타일 */
.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    /* max-width: 650px; */
    height: 100vh;
    margin: 0 auto;
}
.auth-page.login {
    justify-content: flex-start;
    padding: 60px 0;
}
.auth-page.signup {
    max-width: 600px;
}

.auth-page .content {
    padding: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.auth-page .content .page-title {
    text-align: center;
    font-weight: bold;
    margin: 16px 0 30px;
}

/* board Style */
.reply.reply-indent {
    margin-left: 30px;
}


.msg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    font-size: 2em;
    gap: 30px;
    font-weight: bold;
}
.msg-box i {
    font-size: 5em;
    color: #ccc;
}